@use '../../scss/variables' as *;

.product {
    flex: 4;
    padding: 20px;

    .product-bottom {
        padding: 20px;
        margin: 20px;
        box-shadow: $box-shadow;

        &__form {
            display: flex;
            justify-content: space-between;

            &__form-left {
                display: flex;
                flex-direction: column;

                & > label {
                    margin-bottom: 10px;
                    color: $gray;
                }

                & > input {
                    margin-bottom: 10px;
                    border: none;
                    padding: 10px 35px;
                    width: 100%;
                    border-bottom: 1px solid $gray;
                }

                & > select{
                    margin-bottom: 10px;
                }
            }

            &__form-right {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .upload {
                    display: flex;
                    align-items: center;

                    &__img {
                        width: 200px;
                        height: 200px;
                        border-radius: 10px;
                        object-fit: cover;
                        margin-right: 20px;
                    }
                }

                .btn-update {
                    border: none;
                    padding: 10px;
                    border-radius: 5px;
                    background-color: $main-color;
                    color: $white;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }
    }
}

