@use '../../scss/variables' as *;

.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: $bg-white;
    position: sticky;
    top: 50px;

    .wrapper {
        padding: 20px;
        color: $gray;
    
        .sidebar-menu {
            margin-bottom: 10px;

            &__list {
                list-style: none;
                padding: 5px;

                &__item {
                    margin-bottom: 5px;
                    padding: 15px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;

                    &.active,
                    &:hover {
                      border-left: 5px solid $main-color;
                      color: $main-color;
                    }

                    .icon {
                        margin-right: 10px;
                        font-size: 20px !important;
                    }   
                }
            }
        }
    }
}
