@use '../../scss/variables' as *;

.featured {
    width: 35%;
    display: flex;
    justify-content: space-between;

    .featured-item {
        flex: 1;
        margin: 0px 20px;
        padding: 30px;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: $box-shadow;

        &__title {
            font-size: 20px;
        }

        .money-container {
            margin: 10px 0px;
            display: flex;
            align-items: center;

            &__money {
                font-size: 30px;
                font-weight: 600;
            }

            &__rate{
                display: flex;
                align-items: center;
                margin-left: 20px;
            }
            
            &__icon{
                font-size: 14px;
                margin-left: 5px;
                color: $green;
            }
            
            &__icon.negative{
                color: $red;
            }
        }

        .featured-sub{
            font-size: 15px;
            color: $gray;
        }
    }
}
