@use '../../scss/variables' as *;

.orders{
    flex: 4;

    .ordersStatus {
        &__btn {
            padding: 5px 7px;
            border: none;
            border-radius: 10px;

            &.approved{
                background-color: $bg-green;
                color: $green;
            }
            &.declined{
                background-color: $bg-pink;
                color: $pink;
            
            }
            &.pending{
                background-color: $bg-blue;
                color: $blue;
            }
        }
    }
}

  
