$main-color: #ffa15f;
$gray: #555;
$black: #3d3d3f;
$white: white;
$green: #3bb077;
$pink: #d95087;
$blue: #2a7ade;
$red: red;

$bg-blue: #ebf1fe;
$bg-pink: #fff0f1;
$bg-green: #e5faf2;
$bg-white: rgb(251, 251, 255);
$box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);