$main-color: #ffa15f;
$gray: #555;
$gray1: #acacac;
$black: #3d3d3f;
$dark-gray: #202124;
$white: white;
$pink: #f05d62;
$blue: #2a7ade;
$red: red;

$bg-blue: #ebf1fe;
$bg-pink: #f05d62;
$bg-yellow: #fbba4e;
$bg-green: #82bf11;
$bg-white: rgb(251, 251, 255);
$bg-gray: rgba(61, 61, 63, 0.8);
$bg-gray1: #f6f6f6;
$bg-gradient: rgba(255, 255, 255, 0.5);

$border: #ededed;

$box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
$box-shadow1: rgba(149, 157, 165, 0.2) 0px 8px 24px;